@media (max-width: 968px) {
    .footer {
      padding: 20px;
    }
  
    .footer-title {
      font-size: 16px;
    }
  
    .link {
      font-size: 12px;
    }
  
    .footer img {
      width: 80px;
      height:40px;
    }
  }